@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap');

body {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow-x: hidden;
    font-family: 'Roboto Mono', monospace, Arial, sans-serif;
    margin: 0;
}

.icon {
    content: url('./img/icon/home.jpg');
    width: 6rem;
    height: auto;

    position: fixed;
    right: 1rem;
    top: 1rem;
}

.left {
    width: 60%;
    height: 80%;

    position: fixed;
    top: 0rem;
    left: 0rem;
    z-index: 1000;
}

.title {
    font-family: 'Roboto Mono', monospace;
    font-size: 18vh;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 1.75vw; 
    
    padding-left: 1rem;
}

.right {
    background-color: white;
    width: 60%;
    height: 26%;

    position: fixed;
    right: 0rem;
    bottom: 0rem;
    z-index: 999;
}

.txt {
    position: absolute;
    bottom: 0rem;
    right: 0rem;
    padding: 2rem;

    font-family: 'Roboto Mono', monospace;
    font-size: 2.5vh;
    font-style: normal;
    font-weight: 300;
    line-height: 140%;

    text-align: right;
}

.pic {
    content: url("./img/index/1.jpeg");
    opacity: 0.92;

    width: 100vh;
    min-width: 30vw;
    height: auto;

    z-index: 999;

    position: fixed;
    right: 0rem;
    top: 10vh;
    z-index: 900;
}

@media screen and (max-width: 2400px) {
    .right {
        height: 30%;
    }

    .txt {
        font-size: 2.3vh;
    }
}

@media screen and (max-width: 2170px) {
    .title {
        letter-spacing: 1.5vw;
    }
}

@media screen and (max-width: 1975px) {
    .title {
        font-size: 16vh;
    }
}

@media screen and (max-width: 1800px) {
    .left {
        width: 70%;
    }
}

@media screen and (max-width: 1730px) {
    .txt {
        font-size: 2.2vh;
    }
}

@media screen and (max-width: 1500px) {
    .right {
        width: 70%;
        height: 25%;
    }

    .txt {
        font-size: 2.0vh;
        padding: 1rem;
    }
}

@media screen and (max-width: 1300px) {
    .title {
        font-size: 13vh;
    }

    .pic {
        width: 80vh;
        top: 11vh;
        right: -1rem;
    }
}

@media screen and (max-width: 1200px) {
    .txt {
        font-size: 1.8vh;
    }
}

@media screen and (max-width: 900px) {
    .txt {
        font-size: 1.6vh;
    }
}

@media screen and (max-width: 751px) {
    .left {
        position: relative;
    }

    .title {
        font-size: 12vh;
    }

    .pic {
        position: relative;
        top: -33rem;
        right: -10rem;

        opacity: 0.75;
    }

    .icon {
        position: absolute;
        top: 1rem;
        right: 1rem;
    }

    .right {
        position: relative;
        right: -7rem;
        width: 80%;
    }
}

@media screen and (max-width: 650px) {
    .title {
        font-size: 11vh;
    }

    .pic {
        top: -35rem;
    }
}