@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap');

body {
    background-image: url('');

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
    font-family: 'Roboto Mono', monospace, Arial, sans-serif;
    margin: 0rem;

    overflow-y: hidden;
    overflow-x: hidden;

    display: flex;
}

a {
    color: white;
    text-decoration: none;
}

.top-layer {
    background-color: grey;

    width: 100%;
    height: 100%;
    position: absolute;

    opacity: .4;
    z-index: 10;
}

#background-video {
    position: absolute;
    top: 50%;
    left: 50%;

    width: 100vw;
    height: 100vh;

    object-fit: cover;
    transform: translate(-50%, -50%);
}

.hover-container {
    position: relative; /* Set container as relative for absolute positioning inside */
    transform: translate(-50%, -50%);

    top: 45%;
    left: 50%;

    width: 25rem;
    height: 10rem;

    cursor: pointer;

    display: flex;

    justify-content: center;
    align-items: center;
    
    z-index: 999;
}

.text {
    position: absolute; /* Stack elements on top of each other */
    display: flex;

    text-align: center;
    font-weight: bold;
    letter-spacing: 1rem;

    width: auto;
    color: white;
    font-size: 4rem;

    transition: opacity 0.5s ease-in-out;
    transition: transform 0.6s ease-in-out;

    z-index: 999;
}

/* Initial positions */
.text.welcome {
    transform: translateY(0); /* Initial position */
    opacity: 1;
}

.text.info {
    transform: translateY(100%); /* Positioned off-screen to the right */
    opacity: 0;
}

/* On hover, slide the texts */
.hover-container:hover .text.welcome {
    transform: translateY(-150%); /* Slide welcome text to the left */
    opacity: 0;
}

.hover-container:hover .text.info {
    transform: translateY(0); /* Bring info text into view */
    opacity: 1;
}


.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;

    z-index: 9999;

    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.6);

    overflow-x: hidden;
    transition: 0.5s;
}
  
.overlay-content {
    position: relative;
    top: 20%;

    width: 100%;
    height: 75%;

    text-align: left;
    padding-left: 10rem;
}
  
.overlay a {
    padding: 8px;
    text-decoration: none;
    
    font-size: 4rem;
    line-height: 5.5rem;
    color: #818181;

    display: block;
    transition: 0.3s;
}
  
.overlay a:hover, .overlay a:focus {
    color: white;
}
  
.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

@media screen and (max-width: 1300px) {
    .overlay-content {
        top: 30%;
        padding-left: 6rem;
    }

    .overlay a {
        font-size: 3rem;
        line-height: 4rem;
    }
}

@media screen and (max-width: 900px) {
    .overlay-content {
        top: 30%;
        padding-left: 3rem;
    }

    .overlay a {
        font-size: 2rem;
        line-height: 3.5rem;
    }
}