@font-face {
    src: url("font/itc-grouch.otf") format("opentype");
}

body {
	display: flex;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	overflow-x: hidden;
	overflow-y: hidden;
	font-family: itc-grouch;
}

a:link {text-decoration:none;}

.center {
    display: flex;
	justify-content: space-around;
	text-align: center;
	top: 35%;
	left: 35%;
	transform: translateX(-50%) translateY(-50%);
	position: fixed;
    font-family: Arial;
    width: 30rem;
    height: auto;
}

.bold-tx {
    font-weight: 600;
    font-size: 5rem;
}

.tx {
    position: relative;
    font-weight: 200;
    font-size: 4rem;
    top: 15%;
}

@media screen and (max-width: 900px) {
    body {
        background-color: red;
    }
}